/*
general-container.width = 90vmin
line.left-padding = 3vmin
line.right-padding = 3vmin
left.width = 20vmin
left.margin-right = 5vmin
right.width = 90 - 3 - 3 - 20 - 5 = 59vmin
*/

@font-face {
    font-family: 'Geologica';
    src: url(assets/Geologica-VariableFont.ttf);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    font-family: Geologica, Arial, Helvetica, sans-serif;
    font-size: 2vmin;
    font-weight: 300;
    color: #111;
}

hr {
    height: 0;
    border: 0.15em solid #666;
    border-radius: 0.15em;
    margin-bottom: 1em;
    width: 100%;
}

span.tab {
    padding-left: 1.5em;
}

icon {
    display: inline;
}

hb {
    font-weight: 550;
}

#photo-container {
    width: 34vmin;
    margin-left: 3vmin;
    margin-right: 3vmin;
}

#photo {
    width: 100%;
    border-radius: 50%;
}

#personal-info-container > hr {
    margin-bottom: 1.5em;
}

#name {
    font-weight: 700;
    color: #333;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

#general-container {
    display: flex;
    flex-direction: column;
    width: 90vmin;
    margin-top: 2.5em;
}

#head {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    margin-bottom: 1em;
}

.line-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.75em;
}

.icon-container {
    margin-right: 0.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.8vmin;
    height: 3.8vmin;
    background-color: #333;
    border-radius: 50%;
}

.icon {
    width: 60%;
    height: 60%;
}

.headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    font-size: 1.1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    width: 100%;
    padding-left: 3vmin;
}

.new {
    margin-top: 0.25em;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.75em;
    padding-left: 3vmin;
    padding-right: 3vmin;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 20vmin;
    margin-right: 5vmin;
    font-weight: 600;
    color: #444;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 59vmin;
}

ul {
    margin: 0;
    padding-left: 0;
}

li {
    margin-bottom: 0.25em;
}

.title {
    font-weight: 700;
    color: #111;
}

.smol {
    font-size: 0.8em;
}

.weak {
    opacity: 0.4;
}
